{% set container_classes = [
  'cs-darkimg'
] %}
{% set prev_button_classes = [
  'absolute',
  'left-0',
  'top-1/2',
  '-translate-y-1/2',
  'z-10',
  'cursor-pointer',
  'hocus:scale-125',
  'transition',
] %}
{% set next_button_classes = [
  'absolute',
  'right-0',
  'top-1/2',
  '-translate-y-1/2',
  'z-10',
  'cursor-pointer',
  'hocus:scale-125',
  'transition',
] %}
{% block container %}
  <div {{ attributes.addClass(container_classes) }}>
    {% block prev_button %}
      <button {{ prev_button_attributes.addClass(prev_button_classes) }}>
        {% block prev_icon %}
          {{ source('@lucide/chevron-left.svg')|add_to_svg('splide__icon splide__icon--prev', {'width': 40, 'height': 40}) }}
        {% endblock %}
      </button>
    {% endblock %}
    {% block next_button %}
      <button {{ next_button_attributes.addClass(next_button_classes) }}>
        {% block next_icon %}
          {{ source('@lucide/chevron-right.svg')|add_to_svg('splide__icon splide__icon--next', {'width': 40, 'height': 40}) }}
        {% endblock %}
      </button>
    {% endblock %}
  </div>
{% endblock %}
