<!DOCTYPE html>
<html {{ html_attributes.addClass('no-js')
  .setAttribute('data-scrolled', 'false')
  .setAttribute('data-mainnav-overlay', 'false') }}>
<head>
  <script>
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
    const mediaQueries = {
      'xs': window.matchMedia('screen and (max-width: 767px)'),
      'sm': window.matchMedia('screen and (min-width: 768px) and (max-width: 1023px)'),
      'md': window.matchMedia('screen and (min-width: 1024px) and (max-width: 1399px)'),
      'lg': window.matchMedia('screen and (min-width: 1400px)'),
    };
    for (let [breakpoint, mql] of Object.entries(mediaQueries)) {
      mql.addEventListener('change', setCurrentBreakpoint);
    }
    function setCurrentBreakpoint() {
      for (let [breakpoint, mql] of Object.entries(mediaQueries)) {
        if (mql.matches) {
          document.documentElement.setAttribute('data-breakpoint', breakpoint);
          if (window?.Alpine) {
            Alpine.store('breakpoint', breakpoint);
          }
          return;
        }
      }
    }
    setCurrentBreakpoint();
  </script>
  <head-placeholder token="{{ placeholder_token }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token }}">
  <js-placeholder token="{{ placeholder_token }}">
  {{ drupal_region('html_head') }}
</head>
<body{{ attributes }}>
  <script>
    document.documentElement.style.setProperty('--vh100', `${window.innerHeight}px`);
  </script>
  <a href="#main" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
  <div id="scroll_observer"
        aria-hidden="true"
        {##
         # - Set height class `h-[...]` to define when to trigger "scrolled down" effect.
         # - Use `document.querySelector('#scroll_observer').getBoundingClientRect().width`
         #   to compute the "fixed top" part of page in pixels (responsive, including admin toolbar).
         #}
        class="absolute top-0 left-0 h-[100px] w-[--fixed-top] pointer-events-none opacity-0 z-behind"
        x-data x-init="$store.scrolled=false; "
        x-intersect:enter="$store.scrolled=false"
        x-intersect:leave="$store.scrolled=true"
        x-effect="document.documentElement.setAttribute('data-scrolled', $store.scrolled);"></div>
  {{ page_top }}
  {{ page }}
  {{ page_bottom }}
  {# These scripts are very important for LCP & CLS (perceived pagespeed). Load them first! #}
  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.store('scrolled', false);
      Alpine.store('linkify', true);
      setCurrentBreakpoint();
    });
  </script>
  <script src="/libraries/alpinejs-persist/dist/cdn.min.js"></script>
  <script src="/libraries/alpinejs-intersect/dist/cdn.min.js"></script>
  <script src="/libraries/alpinejs-collapse/dist/cdn.min.js"></script>
  <script src="/libraries/alpinejs/dist/cdn.min.js"></script>
  {# Default Drupal scripts. #}
  <js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
