<div class="frontend">
  <header class="frontend-header" id="top">
    {{ page.header }}
  </header>

  <main class="frontend-main" id="main">
    {{ page.content }}
  </main>

  <footer class="frontend-footer">
    {{ page.footer }}
  </footer>

  {{ page.popup }}
  {{ page.invisible }}
</div>
