{# @see "@system/templates/menu.html.twig" #}

{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0, 1) }}

{% macro menu_links(items, attributes, menu_level, currentIdx) %}
  {% import _self as menu %}
  {% if items %}
    {% set ul_attributes = create_attribute(attributes.toArray()) %}
    {% set ul_attributes = ul_attributes.setAttribute('data-menu-level', menu_level) %}
    {% if menu_level == 1 %}
      {% set ul_attributes = ul_attributes.addClass([])
        .setAttribute('x-cloak', '')
        .setAttribute('x-show', '$store.mainnav.subtree == ' ~ currentIdx)
       %}
    {% endif %}
    <ul {{ ul_attributes }}>
      {% for item in items %}
        {% set li_attributes = create_attribute(item.attributes.toArray()) %}
        <li {{ li_attributes }}>
          {% set a_attributes = create_attribute(item.url.getOption('attributes') ?? []) %}
          {% if menu_level == 0 %}
            {% set a_attributes = a_attributes.setAttribute('@click.stop', '$data.closeOverlayIfHashlink($event.target); $store.mainnav.subtree = ($store.mainnav.subtree != ' ~ loop.index ~ ' ? ' ~ loop.index ~ ' : 0);' ) %}
          {% endif %}
          {% if menu_level > 0 %}
            {% set a_attributes = a_attributes.setAttribute('@click.stop', '$data.closeOverlayIfHashlink($event.target);' ) %}
          {% endif %}
          {{ link(item.title, item.url, a_attributes) }}
          {% if item.below %}
            {{ menu.menu_links(item.below, attributes, menu_level + 1, loop.index) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
